*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #234;
}
.sidebar .logo-details
{
  color: white;
  align-items: center;
  display: flex;
  width: 100%;
  height: 60px;
}
.sidebar .logo-details i{
  font-size: 30px;
  font-weight: 500;
  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo-name{
  font-size: 30px;
  font-weight: 500;
  margin-left: 3px;
}
.sidebar .sidebar-ul{
  padding-left: 0rem;
  margin-top: 7px;
}
.sidebar .sidebar-ul li{
  list-style: none;
  width: 100%;
  height: 50px;
}
.sidebar .sidebar-ul li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.4s ease;
} 
.sidebar .sidebar-ul li a i{
  min-width: 60px;
  text-align: center;
  font-size: medium;
}
.sidebar .sidebar-ul li a .title{
  font-size: medium;
}
.sidebar .sidebar-ul li a:hover{
  background-color: aqua;
}

.home-section{
  background-color: antiquewhite;
  position: relative;
  min-height: 8vh;
  width: calc(100% - 251px);
  left: 251px;
}
.home-section nav{
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.home-section .sidebar-button{
  font-size: 30px;
  font-weight: 300;
}
.maincontent{
  position: relative;
  width: calc(100% - 251px);
  left: 251px;
  padding: 20 20px;
}